<% provide(:title, 'Foobar Kadigan') %>
<% provide(:description, 'Website of Foobar Kadigan') %>
<section>
  <div class="column">
    <%= image_tag "nightlife-q-c-400-200-3.jpg" %>
  </div>
  <div class="column">
    <h2>Members enjoy new HD pics daily!</h2>
    <div class="form-centered">
      <%= simple_form_for @visitor do |f| %>
      <%= f.error_notification %>
      <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
      <br/>
      <%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
      <% end %>
    </div>
  </div>
</section>